<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luck.picture.library">

    <uses-sdk tools:overrideLibrary="androidx.camera.view,
    androidx.camera:camera-camera2,
    androidx.camera.camera2,androidx.camera.lifecycle,
    androidx.camera.core" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="false">
        <provider
            android:name="com.luck.picture.library.provider.PictureFileProvider"
            android:authorities="${applicationId}.luckProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ps_file_paths" />
        </provider>

        <activity
            android:name="com.luck.picture.library.SelectorSupporterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.NoActionBar" />

        <activity
            android:name="com.luck.picture.library.SelectorTransparentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Picture.Theme.Translucent" />
    </application>
</manifest>